@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme{
  --font-display: "Roboto", sans-serif;
}

:root {
  --brand-orange: #f97316; /* hoofdkleur */
  --brand-dark: #ea580c;   /* donkerdere variant */
  --brand-light: #fffbeb;  /* lichte achtergrond */
  --brand-gray-dark: #4b5563; /* titels */
  --brand-gray-light: #6b7280; /* subtiele tekst */
}
