@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base{
  body
  {
    font-family:  "Roboto", sans-serif; 
  }
}

:root {
  --brand-orange: #f97316; /* hoofdkleur */
  --brand-dark: #ea580c;   /* donkerdere variant */
  --brand-light: #fffbeb;  /* lichte achtergrond */
  --brand-gray-dark: #4b5563; /* titels */
  --brand-gray-light: #6b7280; /* subtiele tekst */
  --input: #f9fafb; /* lichte wit/grijze achtergrond input veld */

}
